:root {
    --primary: #6200ee;
    --primary-variant: #3700b3;
    --primary-blue: #6f42c1;
    --secondary: #03dac6;
    --color: #000;
    --white-fixed: #fff;
    --secondary-variant: #018786;
    --background: #f0f2f5;
    --error: #b00020;
    --on-background: #1d2029;
    --background-logo: #fff;
    --background-btn: #3d5afe;
    --height-header: calc(120px / 2);
    --width-header: 120px;
    --blue-facebook: rgb(45, 136, 255);
    --oscuro: #18191a;
    --block-oscuro: #242526;
    --color-text: #151e3a;
    --green-special: #31ce58;
    --yellow: #dcff17;
    --day: #ffff00;
    --width-btn-mode: 80px;
    --width-btn-rueda: 80px;
    --background-input: #e4edf4;
    --height-btn-mode: 40px;
    --hover-sidenav: #e1dbd3;
  }

body {
    background-color: var(--background);
}

li {
    font-family: 'Be Vietnam', sans-serif;
}

@media screen and (min-width: 375px) {
    body {
        background: var(--error);
    }

    .header-site {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list-nav {
        display: none;
    }

    .start {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .btn-menu {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }

}

@media screen and (min-width: 992px) {
    body {
        background-color: var(--green-special);
    }

}