<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
  <link rel="icon" sizes="32x32" href="{{url_for('static', filename='../images/favicon-32x32.png')}}">
  
  <title>Frontend Mentor | Manage landing page</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>

  <header class="header-site">
    <div class="logo-header">
      <img src="{{url_for('static', filename='images/logo.svg')}}" alt="">
    </div>
      <ul class="list-nav">
        <li>Pricing</li>
        <li>Product</li>
        <li>About US</li>
        <li>Carrers</li>
        <li>Community</li>
      </ul>
      <div class="start"><button>Get Started</button></div>
      <div class="menu"><button class="btn-menu"><img src="{{url_for('static', filename='images/icon-hamburger.svg')}}" alt="Menu"></button></div>
  </header>

</body>
</html>